---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
---
Language: Cpp
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BreakBeforeTernaryOperators: true
AlwaysBreakAfterReturnType: All
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*"'
    Priority: 1
  - Regex: '<config.h>'
    Priority: 7
  - Regex: '<hayward-common/.*>'
    Priority: 5
  - Regex: '<hayward-.*/.*>'
    Priority: 3
  - Regex: '<.*-protocol.h>'
    Priority: 4
  - Regex: '<.+>'
    Priority: 2

