---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
---
Language: Cpp
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BreakBeforeTernaryOperators: true
AlwaysBreakAfterReturnType: All
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '\<.+\>'
    SortPriority: 1
  - Regex: '"hayward-.*/'
    SortPriority: 2
  - Regex: '"hayward-common/'
    SortPriority: 3

